@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<div class="home text-center">
  <div class="card text-white bg-dark mb-3" style="width: 20rem;">
    <div class="text-center card-header">
      <h4>@Html.DisplayFor(model => model.Name)'s Clients:</h4>
      <p>Specialty: @Html.DisplayFor(model => model.Specialty)</p>
    </div>
    <div class="card-body text-center">
      @if (@Model.Clients.Count == 0)
      {
        <p> No Clients have been added yet!</p>
      }
      @foreach (Client client in @Model.Clients)
      {
       <p><a class="link" href="/Clients/Details/@client.ClientId">@client.Name</a></p>
      }
    </div>
    <hr>
    <p>
      @Html.ActionLink("Add A Client", "Create", "Clients", new { id = Model.StylistId }, htmlAttributes: new { @class = "btn btn-light btn-sm" })
      @Html.ActionLink("Back", "Index", null, htmlAttributes: new { @class = "btn btn-light btn-sm" })
      @Html.ActionLink("Edit", "Edit", new { id = Model.StylistId }, htmlAttributes: new { @class = "btn btn-light btn-sm" })
      @Html.ActionLink("Delete", "Delete", new { id = Model.StylistId },htmlAttributes: new { @class = "btn btn-light btn-sm" })
    </p>
  </div>
</div>